<template>
  <div id="app">
    <!-- <Nav />
    <img alt="Vue logo" src="./assets/logo.png">
    <TodoApp />

    <Parent /> -->

    <book-deal />
  </div>
</template>

<script>
// import TodoApp from './components/TodoApp.vue'
// import Nav from './components/Nav.vue'
// import Parent from './components/Parent.vue'
import BookDeal from "@/modules/BookDeal/BookDeal.vue";

export default {
  name: 'App',
  components: {
    BookDeal,
    // TodoApp,
    // Nav,
    // Parent
  }
}
</script>

<style>

</style>
