<template>
  <div class="book-deal-wrapper">
    <b-card class="m-4">
      <b-form-group id="fieldset-1" label="Book Deal" label-for="book-deal">
        <template #label>
          <label class="d-block"><b>Book Deal</b></label>
        </template>
        <b-form-input v-model="BOOK_DEAL" id="book-deal" @blur="bookDealEntered">
        </b-form-input>
      </b-form-group>
      <div class="mt-3 mb-3">
        <div class="text-center">
          <label>
            <b>OR</b>
          </label>
        </div>
      </div>
      <div class="middle-content">
        <div class="ml-auto mr-auto">
          <div class="col-12 d-flex">
            <div class="col-2 m-2">
              <b-form-group id="fieldset-3" label-for="trans_type">
                <template #label>
                  <label class="d-block"><b>Trans Type</b></label>
                </template>
                <b-form-input v-model="selectedRecords.TRANS_TYPE" id="trans_type">
                </b-form-input>
              </b-form-group>
            </div>
            <div class="col-2 m-2">
              <b-form-group id="fieldset-4" label-for="currency">
                <template #label>
                  <label class="d-block"><b>Currency</b></label>
                </template>
                <b-form-input v-model="selectedRecords.CURRENCY" id="currency">
                </b-form-input>
              </b-form-group>
            </div>
            <div class="col-2 m-2">
              <b-form-group id="fieldset-5" label-for="tenor">
                <template #label>
                  <label class="d-block"><b>Tenor</b></label>
                </template>
                <b-form-input v-model="selectedRecords.TENOR" id="tenor"> </b-form-input>
              </b-form-group>
            </div>
            <div class="col-2 m-2">
              <b-form-group id="fieldset-6" label-for="amount">
                <template #label>
                  <label class="d-block"><b>Amount</b></label>
                </template>
                <b-form-input v-model="selectedRecords.AMOUNT" id="amount">
                </b-form-input>
              </b-form-group>
            </div>
            <div class="col-2 m-2">
              <div class="mt-4">
                <b-button variant="primary" @click="addDataToGrid">Book Deal</b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-container">
        <b-table
          striped
          hover
          :items="items"
          :fields="fields"
          thead-class="table-head"
        ></b-table>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
    BCard,
    BTable,
    BButton,
    BFormInput,
    BFormGroup
} from "bootstrap-vue";

export default {
  name: "book-deal",
  components: {
    BCard,
    BTable,
    BButton,
    BFormInput,
    BFormGroup,
  },
  data() {
    return {
      BOOK_DEAL: "",
      selectedRecords: {
        TRANS_TYPE: "",
        CURRENCY: "",
        TENOR: "",
        AMOUNT: "",
      },
      fields: [
        {
          key: "TRANS_TYPE",
          label: "Trans Type",
        },
        {
          key: "CURRENCY",
          label: "Currency",
        },
        {
          key: "TENOR",
          label: "Tenor",
        },
        {
          key: "AMOUNT",
          label: "Amount",
        },
      ],
      items: [],
    };
  },

  methods: {
    bookDealEntered() {
      const ENTERED_BOOK_DEAL = this.BOOK_DEAL.split(" ");
      this.selectedRecords.TRANS_TYPE = ENTERED_BOOK_DEAL[0] || "";
      this.selectedRecords.CURRENCY = ENTERED_BOOK_DEAL[1] || "";
      this.selectedRecords.TENOR = ENTERED_BOOK_DEAL[2] || "";
      const numberRegex = /\d+(\.\d{1,2})?/;
      let enteredAmount = (ENTERED_BOOK_DEAL[3] || "").match(numberRegex);
      const multiplier = { C: 10000000, K: 1000, L: 1000000 };
      const kkr = (ENTERED_BOOK_DEAL[3] || "").substr(-1).toUpperCase() || "";
      if (enteredAmount && {}.hasOwnProperty.call(multiplier, kkr)) {
        enteredAmount = parseFloat(enteredAmount) * multiplier[kkr];
      }
      this.selectedRecords.AMOUNT = enteredAmount;
    },
    addDataToGrid() {
      this.items.push(this.selectedRecords);
    },
  },
};
</script>
<style>
.book-deal-wrapper .card {
  border: 0;
}
.book-deal-wrapper input {
  border: 1px solid;
  background: #d9d9d9;
}
.book-deal-wrapper .middle-content {
  background: #f8f8f8;
  padding: 15px;
}
.table-container {
  margin: 5em 4px 0 4px;
}
.table-head {
  background-color: #d9d9d9;
}
.table-head th {
  border: 0;
}
</style>